@import '../../assets/variables';
@import '../../assets/mixins';

.button {
  border-radius: 0.25rem;
  padding: 0 2rem;
  height: 4.6rem;
  border: 2px solid transparent;
  line-height: calc(4.6rem - 2px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  min-width: 14rem;
  transition: background 0.4s cubic-bezier(1, 0, 0, 1), color 0.4s;
}

.button .label {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  font: 500 1.4rem/1 $font;
  user-select: none;
}

@media (max-width: 767px) {
  .button .label {
    font-size: 1.2rem;
  }
}

button[disabled] {
  pointer-events: none;
}

button[data-type='main'][data-color='primary'] {
  @include button-main($primary, $primary-text, $primary-hover);
}

button[data-type='main'][data-color='danger'] {
  @include button-main($error, $primary-text, $error-hover);
}

button[data-type='outline'][data-color='danger'] {
  @include button-outline($error, $background);
}

button[data-type='text'][data-color='primary'] {
  @include button-text($primary, $primary-hover);
}
