@import '../assets/variables';
@import '../assets/mixins';

.modal-container {
  @include flex-display(center, center);
  background: $mask;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  opacity: 0;
  visibility: hidden;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.modal {
  min-width: 60rem;
  max-width: 80rem;
  margin: 0 auto;
  background: $background;
  border-radius: 2rem;
  z-index: 9;
}

@media (max-width: 767px) {
  .modal {
    width: 90%;
    min-width: unset;
  }
}

.modal .content {
  padding: 1rem 0 0;
}

.modal .header {
  font: 500 3rem/1.4 $font;
}

.modal .header,
.modal .body,
.modal .footer {
  padding: 0.7rem 3rem;
  position: relative;
}

.modal .header .close {
  position: absolute;
  right: 3rem;
  color: $hint;
  cursor: pointer;
}

.modal .header .separator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $main-border;
  margin: 0.5rem 0 0;
}

.modal .body p {
  font: 500 1.8rem/3 $font;
}

@media (max-width: 767px) {
  .modal .body p {
    font-size: 1.4rem;
    line-height: 2;
  }
}

.modal .footer {
  @include flex-display(center, space-between);
  background: $footer;
  border-radius: 0 0 2rem 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
