// Here lies the common scss variables

@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,600,700');

$font: Google Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
$background: #ffffff;
$primary: #1a73e8;
$primary-hover: #4185f4;
$primary-text: #ffffff;
$hint: #bdbdbd;
$main-border: #e1e1e1;
$secondary-main: #16c086;
$error: #df0000;
$error-hover: #df0000e0;
$mask: rgba(0, 0, 0, 0.1);
$footer: #f8f9fb;
$link: #5f6368;