@import './assets/variables';
@import './assets/mixins';

html {
  font-size: 10px;
  line-height: 1.15;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $background;
  transition: background-color 0.3s;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

[aria-hidden='true'] {
  pointer-events: none;
}

button,
input {
  -webkit-tap-highlight-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input:not([type='checkbox']):not([type='radio']):not([type='date']),
select {
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.15;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  border-radius: 0;
  border: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

input,
select {
  font-family: inherit;
  outline: none;
  width: 100%;
  height: 3.6rem;
  border: 1px solid $main-border;
  border-radius: 0.5rem;
  padding: 1.4rem 3.2rem 1.4rem 2rem;
  font-size: 1.4rem;
  display: block;
}

input[type='date'] {
  padding: 1.4rem 2rem 1.4rem 2rem;
}

input:focus,
select:focus {
  border-color: $secondary-main;
}

input:invalid:focus,
select:invalid:focus {
  border-color: $error;
}

input.reverse-direction,
select.reverse-direction {
  direction: ltr;
}

input::placeholder,
select::placeholder {
  color: $hint;
  font-size: 1.4rem;
}

#root {
  @include flex-display(center, flex-start, column);
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 30rem;
}

#root
  > div:not(.modal-container):not(.snack-bar):not([class*='loadingSpinner']),
#root > table {
  width: 80%;
  margin: 2em auto 0;
}

.unselectable {
  @include unselectable();
}

.fade-in {
  opacity: 1;
  visibility: inherit;
  transition: 0.5s;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
